@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

* {
    font-family: "Wittgenstein", serif;
    margin: 0;
}

.header_section .container {
    display: flex;
    justify-content: space-between;
    background-color: #000;
}

.header_section .container .header_menu {
    margin: 30px 30px;
    width: 50%;
}

.header_section .container .header_menu nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;

}

.header_section .container .header_menu nav ul li {
    list-style: none;
}

.header_section .container .header_menu nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: yellow;
}

.header_section .container .header_menu nav ul li a:hover {
    border-bottom: 1px solid yellow;
}

.hero_section {
    background-color: whitesmoke;
    margin-bottom: 50px;
    ;
}

.hero_section .container {
    display: flex;
    padding: 50px 50px;
    gap: 50px;
}

.hero_section .container .hero_content {
    width: 60%;
    justify-content: center;
    text-align: justify;
}

.hero_section .container .hero_content h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.hero_section .container .hero_content h2:hover {
    transform: translate(5px, 5px);
    transition: all 1s ease;
    cursor: pointer;
    color: red;

}

.hero_section .container .hero_content p {
    margin-bottom: 20px;
}

.hero_section .container .hero_content button {
    background-color: black;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: yellow;

}

.hero_section .container .hero_content button:hover {
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: 1px solid;
}

.hero_section .container .hero_img img {
    width: 100%;
    height: 350px;
    box-shadow: 10px 20px 20px purple;
    border-radius: 20px;
}

.hero_section .container .hero_img img:hover {
    transform: scale(1.1);
    transition: all 1s ease;
    opacity: .9;
}


.skills_section .container .skills_heading {
    text-align: center;
}

.skills_section .container .skills_heading h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.skills_section .container .skills_heading h2:hover {
    transform: translate(5px, 5px);
    transition: all 1s ease;
    cursor: pointer;
    color: red;
}

.skills_section .container .skills_heading h4 {
    margin-bottom: 50px;
}

.skills_section .container .skills_content {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.skills_section .container .skills_content img:nth-child(1) {
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
    height: 200px;
    width: 250px;

}

.skills_section .container .skills_content img:nth-child(1):hover {
    transform: scale(1.1);
    transition: all 1s linear;
}

.skills_section .container .skills_content img:nth-child(2) {
    border-radius: 20px;
    box-shadow: 10px 10px 30px darkblue;
    height: 200px;
    width: 250px;
}

.skills_section .container .skills_content img:nth-child(2):hover {
    transform: scale(1.1);
    transition: all 1s linear;
}

.skills_section .container .skills_content img:nth-child(3) {
    border-radius: 20px;
    box-shadow: 10px 10px 30px red;
    height: 200px;
    width: 250px;
}

.skills_section .container .skills_content img:nth-child(3):hover {
    transform: scale(1.1);
    transition: all 1s linear;
}

.skills_section .container .skills_content img:nth-child(4) {
    border-radius: 20px;
    box-shadow: 10px 10px 30px yellow;
    height: 200px;
    width: 250px;
}

.skills_section .container .skills_content img:nth-child(4):hover {
    transform: scale(1.1);
    transition: all 1s linear;
}

.about_me {
    background-color: whitesmoke;

}

.about_me .container {
    display: flex;
    padding: 50px 50px;
    gap: 50px;
}

.about_me .container .about_img {
    width: 50%;

}

.about_me .container .about_img img {
    width: 95%;
    height: 350px;
    box-shadow: 10px 20px 20px darkblue;
    border-radius: 20px;
}

.about_me .container .about_content {
    width: 50%;
    justify-content: center;
    text-align: justify;
}

.about_me .container .about_content h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.about_me .container .about_content h2:hover {
    transform: translate(5px, 5px);
    transition: all 1s ease;
    cursor: pointer;
    color: red;

}

.about_me .container .about_content h4 {
    margin-bottom: 20px;
}

.about_me .container .about_content p {
    margin-bottom: 20px;
}

.about_me .container .about_content button {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: black;

}

.about_me .container .about_content button:hover {
    background-color: black;
    color: yellow;
    cursor: pointer;

}

.contact_section .container {
    padding: 50px 50px;
}

.contact_section .container .contact_heading h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.contact_section .container .contact_heading h2:hover {
    transform: translate(5px, 5px);
    transition: all 1s ease;
    cursor: pointer;
    color: red;
}

.contact_section .container .contact_heading h4 {
    margin-bottom: 20px;
}

.contact_section .container .contact_content {
    display: flex;
    gap: 50px;
}

.contact_section .container .contact_content .contact_map {
    width: 40%;
}

.contact_section .container .contact_content .contact_map iframe {
    border-radius: 30px;
    box-shadow: 20px 20px 10px #D4E9DC;
    width: 90%;
}

.contact_section .container .contact_content .contact_details {
    width: 60%;
}

.contact_section .container .contact_content .contact_details .input_divs {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.contact_section .container .contact_content .contact_details .input_divs label {
    margin-bottom: 10px;
    font-weight: 500;
}

.contact_section .container .contact_content .contact_details .input_divs input {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    width: 50%;

}

.contact_section .container .contact_content .contact_details .input_divs textarea {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    width: 50%;
    height: 100px;
    margin-bottom: 20px;
}

.contact_section .container .contact_content .contact_details .input_divs button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    width: 53%;
    background-color: transparent;
    color: #000;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.contact_section .container .contact_content .contact_details .input_divs button:hover {
    background-color: #000;
    color: yellow;
    cursor: pointer;
}

.footer_section .container {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.footer_section .container .footer_menu {
    margin: 30px 30px;
    padding: 30px;
    width: 50%;

}

.footer_section .container .footer_menu nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer_section .container .footer_menu nav ul li {
    list-style: none;

}

.footer_section .container .footer_menu nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: yellow;
}

.footer_section .container .footer_menu nav ul li a:hover {
    border-bottom: 1px solid yellow;
}

.footer_section .container .footer_ending {
    margin: 30px 30px;
    padding: 30px;
    width: 50%;
}

.footer_section .container .footer_ending p {
    color: yellow;
    text-align: end;

}

@media (min-width:769px) {
    .header_section .container .header_menu {
        flex-wrap: wrap;
    }


    .header_section .container .header_menu nav ul li a {
        font-size: 14px;
    }

    .hero_section .container .hero_content h2 {
        font-size: 20px;
    }

    .hero_section .container .hero_content p {
        font-size: 14px;
    }

    .about_me .container .about_content h2 {
        font-size: 20px;
    }

    .about_me .container .about_content h4 {
        font-size: 14px;
    }

    .about_me .container .about_content p {
        font-size: 14px;
    }

    .skills_section .container .skills_heading h2 {
        font-size: 20px;
    }

    .skills_section .container .skills_content {
        flex-wrap: wrap;
        width: 100%;
    }

    .contact_section .container .contact_heading h2 {
        font-size: 20px;
    }

    .contact_section .container .contact_heading h4 {
        font-size: 14px;

    }

    .footer_section .container .footer_menu {
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer_section .container .footer_menu nav ul {
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer_section .container .footer_menu nav ul li a {
        font-size: 12px;
    }

    .footer_section .container .footer_ending {
        font-size: 12px;
    }

}

@media (max-width:768px) {
    .header_section .container .header_menu {
        flex-wrap: wrap;
        margin: 15px;

    }

    .header_section .container .header_menu nav ul {
        padding: 0px;
    }

    .header_section .container .header_menu nav ul li a {
        font-size: 10px;
    }

    .hero_section .container {
        flex-wrap: wrap;
    }


    .hero_section .container .hero_content {
        width: 100%;
    }

    .hero_section .container .hero_content h2 {
        font-size: 16px;
    }

    .hero_section .container .hero_content p {
        font-size: 12px;
    }

    .about_me .container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about_me .container .about_img {
        width: 100%;
    }

    .about_me .container .about_content {
        width: 100%;
    }


    .about_me .container .about_content h2 {
        font-size: 16px;
    }

    .about_me .container .about_content h4 {
        font-size: 14px;
    }

    .about_me .container .about_content p {
        font-size: 12px;
    }

    .skills_section .container .skills_heading h2 {
        font-size: 16px;
    }

    .skills_section .container .skills_heading h4 {
        font-size: 14px;
    }

    .skills_section .container .skills_content {
        flex-wrap: wrap;
        width: 100%;
    }

    .contact_section .container .contact_content {
        flex-direction: column;
        display: flex;
    }

    .contact_section .container .contact_content .contact_map {
        width: 100%;
    }


    .contact_section .container .contact_content .contact_details {
        width: 100%;
    }

    .contact_section .container .contact_heading h2 {
        font-size: 16px;
    }

    .contact_section .container .contact_heading h4 {
        font-size: 14px;
    }

    .contact_section .container .contact_details .input_divs {
        font-size: 12px;
    }

    .contact_section .container .contact_content .contact_details .input_divs input {
        width: 70%;
    }

    .contact_section .container .contact_content .contact_details .input_divs textarea {
        width: 70%;
    }

    .contact_section .container .contact_content .contact_details .input_divs button {
        width: 70%;
    }

    .footer_section .container .footer_menu {
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer_section .container .footer_menu nav ul {
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer_section .container .footer_menu nav ul li a {
        font-size: 10px;
    }

    .footer_section .container .footer_ending {
        font-size: 10px;
    }
}

@media (max-width:549px) {

    .header_section .container {
        display: flex;
        flex-direction: column;

    }

    .header_section .container .header_logo img {
        width: 100%;
        height: 80px;
    }

    .header_section .container .header_menu {
        width: 95%;
    }

    .contact_section .container .contact_content .contact_details .input_divs input {
        width: 70%;
    }

    .contact_section .container .contact_content .contact_details .input_divs textarea {
        width: 70%;
    }

    .contact_section .container .contact_content .contact_details .input_divs button {
        width: 70%;
    }

    .footer_section .container {
        display: flex;
        flex-direction: column;
    }

    .footer_section {
        width: 100%;
    }

    .footer_section .container .footer_menu {
        width: 90%;
        margin: 0px;
        padding: 10px;
    }

    .footer_section .container .footer_ending {
        width: 80%;
        padding: 0px;
    }

    .footer_section .container .footer_ending p {
        text-align: center;
    }

}